html body {
    padding: 0px;
    margin: 0px;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: small;
}

h1 {
    font-size: x-large;
    color: blue;
}

table tr td {
    border: 1px black solid;
    margin: 4px;
    padding: 4px;
}

#aka_container {
    min-width: 100%;
    min-height: 100%;
    text-align: center;
}

.form_container {
    display: inline-block;
    border: 1px black solid;
    width: auto;
    margin: auto;
    padding: 8px;
    margin-top: 20px;
    text-align: right;
    background-color: lightgray;
}

.form_row {
    min-width: 400px;
    padding-left:24px;
    margin-top: 2px;
}

.form_row label {
    display: inline-block;
    text-align: right;
    padding-right: 4px;
    width: 200px;
    height: 18px;
}

.form_row .button {
    display: inline-block;
    margin-top: 4px;
    color: white;
    background-color: gray;
    border: 1px black solid;
}

.aka_menu {
    display: block;
    margin: 4px;
}